In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
players = pd.read_csv('../data/raw/People.csv')
batting = pd.read_csv('../data/raw/Batting.csv')
appearances = pd.read_csv('../data/raw/Appearances.csv')
teams = pd.read_csv('../data/raw/Teams.csv')

In [4]:
# class PlayerData:

#     def __init__(self, player_id):
#         self.player_id = player_id
#         self.batting = self._get_batting_data()
#         self.personal = self._get_personal_data()
#         self.player_name = self._get_player_name()

#     def _get_batting_data(self):
#         return batting.query(f"playerID == '{self.player_id}'")

#     def _get_personal_data(self):
#         return players.query(f"playerID == '{self.player_id}'")

#     def _get_player_name(self):
#         return self.personal.nameFirst + ' ' + self.personal.nameLast

In [5]:
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19617 entries, 0 to 19616
Data columns (total 24 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   playerID      19617 non-null  object
 1   birthYear     19497 non-null  float64
 2   birthMonth    19332 non-null  float64
 3   birthDay      19188 non-null  float64
 4   birthCountry  19553 non-null  object
 5   birthState    19090 non-null  object
 6   birthCity     19441 non-null  object
 7   deathYear     9649 non-null   float64
 8   deathMonth    9648 non-null   float64
 9   deathDay      9647 non-null   float64
 10  deathCountry  9646 non-null   object
 11  deathState    9598 non-null   object
 12  deathCity     9641 non-null   object
 13  nameFirst     19580 non-null  object
 14  nameLast      19617 non-null  object
 15  nameGiven     19580 non-null  object
 16  weight        18792 non-null  float64
 17  height        18875 non-null  float64
 18  bats          18433 non-null  object
 19  throws        18638 non-null  object
 20  debut         19420 non-null  object
 21  finalGame     19420 non-null  object
 22  retroID       19561 non-null  object
 23  bbrefID       19616 non-null  object
dtypes: float64(8), object(16)
memory usage: 3.6+ MB

In [6]:
batting.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105861 entries, 0 to 105860
Data columns (total 22 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   playerID  105861 non-null  object
 1   yearID    105861 non-null  int64
 2   stint     105861 non-null  int64
 3   teamID    105861 non-null  object
 4   lgID      105123 non-null  object
 5   G         105861 non-null  int64
 6   AB        105861 non-null  int64
 7   R         105861 non-null  int64
 8   H         105861 non-null  int64
 9   2B        105861 non-null  int64
 10  3B        105861 non-null  int64
 11  HR        105861 non-null  int64
 12  RBI       105105 non-null  float64
 13  SB        103493 non-null  float64
 14  CS        82320 non-null   float64
 15  BB        105861 non-null  int64
 16  SO        103761 non-null  float64
 17  IBB       69210 non-null   float64
 18  HBP       103044 non-null  float64
 19  SH        99792 non-null   float64
 20  SF        69757 non-null   float64
 21  GIDP      80420 non-null   float64
dtypes: float64(9), int64(10), object(3)
memory usage: 17.8+ MB

In [7]:
appearances.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105789 entries, 0 to 105788
Data columns (total 21 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   yearID     105789 non-null  int64
 1   teamID     105789 non-null  object
 2   lgID       105052 non-null  object
 3   playerID   105789 non-null  object
 4   G_all      105789 non-null  int64
 5   GS         96020 non-null   float64
 6   G_batting  105789 non-null  int64
 7   G_defense  98091 non-null   float64
 8   G_p        105789 non-null  int64
 9   G_c        105789 non-null  int64
 10  G_1b       105789 non-null  int64
 11  G_2b       105789 non-null  int64
 12  G_3b       105789 non-null  int64
 13  G_ss       105789 non-null  int64
 14  G_lf       105789 non-null  int64
 15  G_cf       105789 non-null  int64
 16  G_rf       105789 non-null  int64
 17  G_of       105789 non-null  int64
 18  G_dh       103718 non-null  float64
 19  G_ph       96020 non-null   float64
 20  G_pr       96020 non-null   float64
dtypes: float64(5), int64(13), object(3)
memory usage: 16.9+ MB

In [8]:
teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2895 entries, 0 to 2894
Data columns (total 48 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   yearID          2895 non-null   int64
 1   lgID            2845 non-null   object
 2   teamID          2895 non-null   object
 3   franchID        2895 non-null   object
 4   divID           1378 non-null   object
 5   Rank            2895 non-null   int64
 6   G               2895 non-null   int64
 7   Ghome           2496 non-null   float64
 8   W               2895 non-null   int64
 9   L               2895 non-null   int64
 10  DivWin          1350 non-null   object
 11  WCWin           714 non-null    object
 12  LgWin           2867 non-null   object
 13  WSWin           2538 non-null   object
 14  R               2895 non-null   int64
 15  AB              2895 non-null   int64
 16  H               2895 non-null   int64
 17  2B              2895 non-null   int64
 18  3B              2895 non-null   int64
 19  HR              2895 non-null   int64
 20  BB              2894 non-null   float64
 21  SO              2879 non-null   float64
 22  SB              2769 non-null   float64
 23  CS              2063 non-null   float64
 24  HBP             1737 non-null   float64
 25  SF              1354 non-null   float64
 26  RA              2895 non-null   int64
 27  ER              2895 non-null   int64
 28  ERA             2895 non-null   float64
 29  CG              2895 non-null   int64
 30  SHO             2895 non-null   int64
 31  SV              2895 non-null   int64
 32  IPouts          2895 non-null   int64
 33  HA              2895 non-null   int64
 34  HRA             2895 non-null   int64
 35  BBA             2895 non-null   int64
 36  SOA             2895 non-null   int64
 37  E               2895 non-null   int64
 38  DP              2895 non-null   int64
 39  FP              2895 non-null   float64
 40  name            2895 non-null   object
 41  park            2861 non-null   object
 42  attendance      2616 non-null   float64
 43  BPF             2895 non-null   int64
 44  PPF             2895 non-null   int64
 45  teamIDBR        2895 non-null   object
 46  teamIDlahman45  2895 non-null   object
 47  teamIDretro     2895 non-null   object
dtypes: float64(10), int64(25), object(13)
memory usage: 1.1+ MB

In [9]:
team_year_ballpark = teams[['yearID', 'teamID', 'park']]

In [10]:
player_batting = players.merge(batting, on='playerID', how='inner', suffixes=('_player', '_batting'))
player_batting_appearances = player_batting.merge(team_year_ballpark, on=['yearID', 'teamID'], how='inner')
player_batting_appearances = player_batting_appearances.merge(appearances, on=['playerID', 'teamID', 'yearID', 'lgID'], how='left')

In [11]:
player_batting_appearances.shape

(105861, 63)

In [12]:
player_batting_appearances.loc[player_batting_appearances.park.isnull() & player_batting_appearances.yearID >= 2000] # check for ballparks not existing

Empty DataFrame
Columns: [playerID, birthYear, birthMonth, birthDay, birthCountry, birthState, birthCity, deathYear, deathMonth, deathDay, deathCountry, deathState, deathCity, nameFirst, nameLast, nameGiven, weight, height, bats, throws, debut, finalGame, retroID, bbrefID, yearID, stint, teamID, lgID, G, AB, R, H, 2B, 3B, HR, RBI, SB, CS, BB, SO, IBB, HBP, SH, SF, GIDP, park, G_all, GS, G_batting, G_defense, G_p, G_c, G_1b, G_2b, G_3b, G_ss, G_lf, G_cf, G_rf, G_of, G_dh, G_ph, G_pr]
Index: []

In [13]:
player_batting_appearances.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 105861 entries, 0 to 105860
Data columns (total 63 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   playerID      105861 non-null  object
 1   birthYear     105705 non-null  float64
 2   birthMonth    105351 non-null  float64
 3   birthDay      104997 non-null  float64
 4   birthCountry  105784 non-null  object
 5   birthState    102883 non-null  object
 6   birthCity     105449 non-null  object
 7   deathYear     45368 non-null   float64
 8   deathMonth    45367 non-null   float64
 9   deathDay      45365 non-null   float64
 10  deathCountry  45365 non-null   object
 11  deathState    45165 non-null   object
 12  deathCity     45346 non-null   object
 13  nameFirst     105823 non-null  object
 14  nameLast      105861 non-null  object
 15  nameGiven     105823 non-null  object
 16  weight        104717 non-null  float64
 17  height        104799 non-null  float64
 18  bats          103935 non-null  object
 19  throws        104386 non-null  object
 20  debut         105852 non-null  object
 21  finalGame     105852 non-null  object
 22  retroID       105861 non-null  object
 23  bbrefID       105861 non-null  object
 24  yearID        105861 non-null  int64
 25  stint         105861 non-null  int64
 26  teamID        105861 non-null  object
 27  lgID          105123 non-null  object
 28  G             105861 non-null  int64
 29  AB            105861 non-null  int64
 30  R             105861 non-null  int64
 31  H             105861 non-null  int64
 32  2B            105861 non-null  int64
 33  3B            105861 non-null  int64
 34  HR            105861 non-null  int64
 35  RBI           105105 non-null  float64
 36  SB            103493 non-null  float64
 37  CS            82320 non-null   float64
 38  BB            105861 non-null  int64
 39  SO            103761 non-null  float64
 40  IBB           69210 non-null   float64
 41  HBP           103044 non-null  float64
 42  SH            99792 non-null   float64
 43  SF            69757 non-null   float64
 44  GIDP          80420 non-null   float64
 45  park          104964 non-null  object
 46  G_all         105857 non-null  float64
 47  GS            96063 non-null   float64
 48  G_batting     105857 non-null  float64
 49  G_defense     98143 non-null   float64
 50  G_p           105857 non-null  float64
 51  G_c           105857 non-null  float64
 52  G_1b          105857 non-null  float64
 53  G_2b          105857 non-null  float64
 54  G_3b          105857 non-null  float64
 55  G_ss          105857 non-null  float64
 56  G_lf          105857 non-null  float64
 57  G_cf          105857 non-null  float64
 58  G_rf          105857 non-null  float64
 59  G_of          105857 non-null  float64
 60  G_dh          103777 non-null  float64
 61  G_ph          96063 non-null   float64
 62  G_pr          96063 non-null   float64
dtypes: float64(34), int64(10), object(19)
memory usage: 51.7+ MB

In [14]:
player_batting_appearances.groupby(['playerID', 'yearID', 'teamID', 'lgID']).count()[['G_all']].sort_values('G_all', ascending=False)

                              G_all
playerID  yearID teamID lgID
chouife01 1914   BRF    FL        3
martimi02 2016   CLE    AL        2
huelsfr01 1904   CHA    AL        2
gardngi01 1888   WS8    NL        2
wallmu01  1959   BOS    AL        2
...                             ...
goodyni01 2017   CLE    AL        1
          2016   NYA    AL        1
          2015   NYA    AL        1
mcaleji01 1907   SLA    AL        0
smithbu01 1911   WS1    AL        0

[105054 rows x 1 columns]

In [15]:
player_batting_appearances.query("playerID == 'martimi02' & yearID == 2016").to_clipboard()

In [18]:
player_batting_appearances.query("playerID == 'martimi02' & yearID == 2016").G

2307      4
14215    32
14216    27
Name: G, dtype: int64

In [20]:
check_ = player_batting_appearances.query("playerID == 'martimi02' & yearID == 2016")
check_.groupby(['playerID', 'yearID', 'teamID', 'lgID'], as_index=False).sum()

,playerID,yearID,teamID,lgID,birthYear,birthMonth,birthDay,deathYear,deathMonth,deathDay,weight,height,stint,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,G_all,GS,G_batting,G_defense,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,G_ph,G_pr
0,martimi02,2016,BOS,AL,1982.0,9.0,16.0,0.0,0.0,0.0,180.0,69.0,2,4,6,1,1,0,0,0,0.0,0.0,0.0,1,2.0,0.0,0.0,0.0,0.0,0.0,4.0,1.0,4.0,3.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,2.0,1.0,0.0,1.0
1,martimi02,2016,CLE,AL,3964.0,18.0,32.0,0.0,0.0,0.0,360.0,138.0,4,59,95,15,23,4,0,1,4.0,0.0,2.0,3,21.0,0.0,0.0,1.0,0.0,1.0,118.0,42.0,118.0,104.0,0.0,0.0,0.0,42.0,4.0,10.0,18.0,22.0,18.0,54.0,6.0,14.0,20.0

In [19]:
batting.groupby(by=['playerID', 'yearID', 'teamID', 'lgID'], as_index=False).sum()

,playerID,yearID,teamID,lgID,stint,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,aardsda01,2004,SFN,NL,1,11,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,aardsda01,2006,CHN,NL,1,45,2,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,1.0,0.0,0.0
2,aardsda01,2007,CHA,AL,1,25,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,aardsda01,2008,BOS,AL,1,47,1,0,0,0,0,0,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
4,aardsda01,2009,SEA,AL,1,73,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105049,zwilldu01,1915,CHF,FL,1,150,548,65,157,32,7,13,94.0,24.0,0.0,67,65.0,0.0,2.0,18.0,0.0,0.0
105050,zwilldu01,1916,CHN,NL,1,35,53,4,6,1,0,1,8.0,0.0,0.0,4,6.0,0.0,0.0,2.0,0.0,0.0
105051,zychto01,2015,SEA,AL,1,13,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
105052,zychto01,2016,SEA,AL,1,12,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
105053,zychto01,2017,SEA,AL,1,45,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
batting_pyt = batting.groupby(by=['playerID', 'yearID', 'teamID', 'lgID'], as_index=False).sum()
batting_pyt = batting_pyt.loc[:, ~batting_pyt.columns.str.contains('stint')]
batting_pyt

,playerID,yearID,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,aardsda01,2004,SFN,NL,11,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,aardsda01,2006,CHN,NL,45,2,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,1.0,0.0,0.0
2,aardsda01,2007,CHA,AL,25,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,aardsda01,2008,BOS,AL,47,1,0,0,0,0,0,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
4,aardsda01,2009,SEA,AL,73,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105049,zwilldu01,1915,CHF,FL,150,548,65,157,32,7,13,94.0,24.0,0.0,67,65.0,0.0,2.0,18.0,0.0,0.0
105050,zwilldu01,1916,CHN,NL,35,53,4,6,1,0,1,8.0,0.0,0.0,4,6.0,0.0,0.0,2.0,0.0,0.0
105051,zychto01,2015,SEA,AL,13,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
105052,zychto01,2016,SEA,AL,12,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
105053,zychto01,2017,SEA,AL,45,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
player_batting = players.merge(batting_pyt, on='playerID', how='inner', suffixes=('_player', '_batting'))
player_batting_appearances = player_batting.merge(team_year_ballpark, on=['yearID', 'teamID'], how='inner')
player_batting_appearances = player_batting_appearances.merge(appearances, on=['playerID', 'teamID', 'yearID', 'lgID'], how='left')

In [18]:
player_batting_appearances.groupby(['playerID', 'yearID', 'teamID', 'lgID']).count()[['G_all']].sort_values('G_all', ascending=False)

                              G_all
playerID  yearID teamID lgID
aardsda01 2004   SFN    NL        1
oertech01 1958   BAL    AL        1
oeschjo01 1921   BSN    NL        1
          1920   BSN    NL        1
          1919   PHI    NL        1
...                             ...
goodwto01 1998   TEX    AL        1
          1997   TEX    AL        1
zychto01  2017   SEA    AL        1
smithbu01 1911   WS1    AL        0
mcaleji01 1907   SLA    AL        0

[105054 rows x 1 columns]

In [19]:
position_col_names = ['G_p','G_c','G_1b','G_2b','G_3b','G_ss','G_lf','G_cf','G_rf','G_dh']
positions = {
    0: 'P',
    1: 'C',
    2: '1B',
    3: '2B',
    4: '3B',
    5: 'SS',
    6: 'LF',
    7: 'CF',
    8: 'RF',
    9: 'DH'
}
player_batting_appearances.loc[:, position_col_names]

         G_p   G_c  G_1b  G_2b   G_3b   G_ss   G_lf  G_cf  G_rf  G_dh
0       11.0   0.0   0.0   0.0    0.0    0.0    0.0   0.0   0.0   0.0
1        0.0   0.0   0.0   5.0  129.0    0.0    0.0   0.0   0.0   0.0
2        0.0   0.0   0.0   0.0    0.0    0.0  133.0   0.0   0.0   7.0
3       89.0   0.0   0.0   0.0    0.0    0.0    0.0   0.0   0.0   0.0
4        6.0   0.0   0.0   0.0    0.0    0.0    0.0   0.0   0.0   0.0
...      ...   ...   ...   ...    ...    ...    ...   ...   ...   ...
105049   0.0   0.0   0.0  26.0    0.0    0.0    0.0   0.0   0.0   0.0
105050  19.0   0.0   0.0   0.0    0.0    0.0    0.0   0.0   0.0   0.0
105051   0.0  54.0   0.0   0.0    0.0    0.0    0.0   0.0   0.0   0.0
105052   0.0   0.0   0.0   0.0    0.0    0.0  154.0   0.0   0.0   0.0
105053   0.0   0.0   0.0   0.0    0.0  137.0    0.0   0.0   0.0   0.0

[105054 rows x 10 columns]

In [20]:
pos_max = np.argmax(player_batting_appearances.loc[:, position_col_names].values, axis=1)
pos_cnts = np.bincount(pos_max)
for k, v in positions.items():
    print(f'{v} : {pos_cnts[k]} player years')

P : 45935 player years
C : 10064 player years
1B : 6276 player years
2B : 6575 player years
3B : 6425 player years
SS : 6046 player years
LF : 7697 player years
CF : 5858 player years
RF : 6660 player years
DH : 3518 player years

In [21]:
def get_main_position(row):
    pos_idx = np.argmax(row)
    return positions[pos_idx]

In [22]:
player_batting_appearances['pos_main'] = player_batting_appearances.apply(lambda row: get_main_position(row[position_col_names]), axis=1)

In [23]:
player_batting_appearances_wo_p = player_batting_appearances.loc[player_batting_appearances.pos_main != 'P'].copy()

In [24]:
player_batting_appearances_wo_p.columns

Index(['playerID', 'birthYear', 'birthMonth', 'birthDay', 'birthCountry',
       'birthState', 'birthCity', 'deathYear', 'deathMonth', 'deathDay',
       'deathCountry', 'deathState', 'deathCity', 'nameFirst', 'nameLast',
       'nameGiven', 'weight', 'height', 'bats', 'throws', 'debut', 'finalGame',
       'retroID', 'bbrefID', 'yearID', 'teamID', 'lgID', 'G', 'AB', 'R', 'H',
       '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'IBB', 'HBP', 'SH',
       'SF', 'GIDP', 'park', 'G_all', 'GS', 'G_batting', 'G_defense', 'G_p',
       'G_c', 'G_1b', 'G_2b', 'G_3b', 'G_ss', 'G_lf', 'G_cf', 'G_rf', 'G_of',
       'G_dh', 'G_ph', 'G_pr', 'pos_main'],
      dtype='object')

In [25]:
from datetime import datetime

In [26]:
player_batting_appearances_wo_p.debut = pd.to_datetime(player_batting_appearances_wo_p.debut)

In [27]:
player_batting_appearances_wo_p.shape

(58379, 63)

In [28]:
player_batting_appearances_wo_p.loc[:, 'playerAge'] = player_batting_appearances_wo_p.yearID - player_batting_appearances_wo_p.birthYear
# player_batting_appearances_wo_p.loc[:, 'yearsInMLB'] = player_batting_appearances_wo_p.groupby('playerID')['yearID'].transform(lambda x: x - x.min() + 1)
player_batting_appearances_wo_p.loc[:, 'yearsInMLB'] = player_batting_appearances_wo_p.groupby('playerID')['yearID'].rank(method='dense')

In [29]:
player_batting_appearances_wo_p.shape

(58379, 65)

In [30]:
player_batting_appearances_wo_p.groupby(['playerID', 'yearID'])['teamID'].count().sort_values(ascending=False)

playerID   yearID
huelsfr01  1904      4
covinwe01  1961      4
striege01  1884      4
lehnepa01  1951      4
wheelha01  1884      4
                    ..
newhada01  2001      1
           1999      1
newfima01  1998      1
           1997      1
aaronha01  1954      1
Name: teamID, Length: 54352, dtype: int64

In [31]:
player_batting_appearances_wo_p[player_batting_appearances_wo_p.playerID == 'amezaal01'].sort_values('yearsInMLB')

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,deathCountry,deathState,deathCity,nameFirst,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID,yearID,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,park,G_all,GS,G_batting,G_defense,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,G_ph,G_pr,pos_main,playerAge,yearsInMLB
50542,amezaal01,1978.0,1.0,16.0,Mexico,Sonora,Ciudad Obregon,NaN,NaN,NaN,NaN,NaN,NaN,Alfredo,Amezaga,Alfredo,165.0,71.0,B,R,2002-05-24,2011-09-04,ameza001,amezaal01,2002,ANA,AL,12,13,3,7,2,0,0,2.0,1.0,0.0,0,1.0,0.0,0.0,0.0,0.0,1.0,Edison International Field,12.0,3.0,12.0,5.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,1.0,0.0,7.0,SS,24.0,1.0
50582,amezaal01,1978.0,1.0,16.0,Mexico,Sonora,Ciudad Obregon,NaN,NaN,NaN,NaN,NaN,NaN,Alfredo,Amezaga,Alfredo,165.0,71.0,B,R,2002-05-24,2011-09-04,ameza001,amezaal01,2003,ANA,AL,37,105,15,22,3,2,2,7.0,2.0,2.0,9,23.0,0.0,1.0,5.0,0.0,2.0,Edison International Field,37.0,32.0,37.0,35.0,0.0,0.0,0.0,0.0,13.0,24.0,0.0,0.0,0.0,0.0,1.0,0.0,4.0,SS,25.0,2.0
50625,amezaal01,1978.0,1.0,16.0,Mexico,Sonora,Ciudad Obregon,NaN,NaN,NaN,NaN,NaN,NaN,Alfredo,Amezaga,Alfredo,165.0,71.0,B,R,2002-05-24,2011-09-04,ameza001,amezaal01,2004,ANA,AL,73,93,12,15,2,0,2,11.0,3.0,2.0,3,24.0,0.0,3.0,6.0,0.0,2.0,Angels Stadium of Anaheim,73.0,22.0,73.0,71.0,0.0,0.0,0.0,16.0,26.0,32.0,0.0,0.0,0.0,0.0,1.0,5.0,6.0,SS,26.0,3.0
10213,amezaal01,1978.0,1.0,16.0,Mexico,Sonora,Ciudad Obregon,NaN,NaN,NaN,NaN,NaN,NaN,Alfredo,Amezaga,Alfredo,165.0,71.0,B,R,2002-05-24,2011-09-04,ameza001,amezaal01,2005,COL,NL,2,3,1,1,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,Coors Field,2.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,3B,27.0,4.0
50663,amezaal01,1978.0,1.0,16.0,Mexico,Sonora,Ciudad Obregon,NaN,NaN,NaN,NaN,NaN,NaN,Alfredo,Amezaga,Alfredo,165.0,71.0,B,R,2002-05-24,2011-09-04,ameza001,amezaal01,2005,PIT,NL,3,3,1,0,0,0,0,0.0,1.0,0.0,1,0.0,0.0,0.0,0.0,0.0,0.0,PNC Park,3.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,SS,27.0,4.0
5526,amezaal01,1978.0,1.0,16.0,Mexico,Sonora,Ciudad Obregon,NaN,NaN,NaN,NaN,NaN,NaN,Alfredo,Amezaga,Alfredo,165.0,71.0,B,R,2002-05-24,2011-09-04,ameza001,amezaal01,2006,FLO,NL,132,334,42,87,9,3,3,19.0,20.0,12.0,33,46.0,4.0,3.0,7.0,1.0,5.0,Dolphin Stadium,132.0,82.0,132.0,109.0,0.0,0.0,2.0,23.0,4.0,11.0,14.0,75.0,2.0,78.0,0.0,26.0,6.0,CF,28.0,5.0
5565,amezaal01,1978.0,1.0,16.0,Mexico,Sonora,Ciudad Obregon,NaN,NaN,NaN,NaN,NaN,NaN,Alfredo,Amezaga,Alfredo,165.0,71.0,B,R,2002-05-24,2011-09-04,ameza001,amezaal01,2007,FLO,NL,133,400,46,105,14,9,2,30.0,13.0,7.0,35,52.0,0.0,4.0,4.0,5.0,4.0,Dolphin Stadium,133.0,92.0,133.0,118.0,0.0,0.0,4.0,11.0,12.0,18.0,2.0,87.0,3.0,91.0,0.0,26.0,6.0,CF,29.0,6.0
50707,amezaal01,1978.0,1.0,16.0,Mexico,Sonora,Ciudad Obregon,NaN,NaN,NaN,NaN,NaN,NaN,Alfredo,Amezaga,Alfredo,165.0,71.0,B,R,2002-05-24,2011-09-04,ameza001,amezaal01,2008,FLO,NL,125,311,41,82,13,5,3,32.0,8.0,2.0,19,47.0,1.0,3.0,4.0,0.0,6.0,Dolphin Stadium,125.0,67.0,125.0,111.0,0.0,0.0,0.0,10.0,15.0,19.0,0.0,79.0,0.0,79.0,0.0,25.0,9.0,CF,30.0,7.0
50752,amezaal01,1978.0,1.0,16.0,Mexico,Sonora,Ciudad Obregon,NaN,NaN,NaN,NaN,NaN,NaN,Alfredo,Amezaga,Alfredo,165.0,71.0,B,R,2002-05-24,2011-09-04,ameza001,amezaal01,2009,FLO,NL,27,69,6,15,3,0,0,5.0,1.0,1.0,5,16.0,2.0,0.0,0.0,1.0,0.0,Dolphin Stadium,27.0,13.0,27.0,21.0,0.0,0.0,0.0,0.0,0.0,5.0,2.0,14.0,3.0,17.0,0.0,9.0,1.0,CF,31.0,8.0
34138,amezaal01,1978.0,1.0,16.0,Mexico,Sonora,Ciudad Obregon,NaN,NaN,NaN,NaN,NaN,NaN,Alfredo,Amezaga,Alfredo,165.0,71.0,B,R,2002-05-24,2011-09-04,ameza001,amezaal01,2011,COL,NL,20,33,5,8,1,0,0,2.0,0.0,0.0,3,7.0,0.0,0.0,1.0,1.0,0.0,Coors Field,20.0,6.0,20.0,11.0,0.0,0.0,0.0,5.0,2.0,2.0,0.0,0.0,2.0,2.0,0.0,9.0,0.0,2B,33.0,9.0
50796,amezaal01,1978.0,1.0,16.0,Mexico,Sonora,Ciudad Obregon,NaN,NaN,NaN,NaN,NaN,NaN,Alfredo,Amezaga,Alfredo,165.0,71.0,B,R,2002-05-24,2011-09-04,ameza001,amezaal01,2011,FLO,NL,20,44,1,6,0,0,0,2.0,0.0,0.0,4,7.0,0.0,0.0,1.0,0.0,1.0,Sun Life Stadium,20.0,10.0,20.0,14.0,0.0,0.0,0.0,11.0,0.0,0.0,4.0,0.0,0.0,4.0,0.0,5.0,1.0,2B,33.0,9.0

In [32]:
up = player_batting_appearances_wo_p.loc[:, ['playerID', 'yearID', 'park', 'G', 'AB']]
up[up.playerID == 'amezaal01'].sort_values('yearID')

        playerID  yearID                        park    G   AB
50542  amezaal01    2002  Edison International Field   12   13
50582  amezaal01    2003  Edison International Field   37  105
50625  amezaal01    2004   Angels Stadium of Anaheim   73   93
10213  amezaal01    2005                 Coors Field    2    3
50663  amezaal01    2005                    PNC Park    3    3
5526   amezaal01    2006             Dolphin Stadium  132  334
5565   amezaal01    2007             Dolphin Stadium  133  400
50707  amezaal01    2008             Dolphin Stadium  125  311
50752  amezaal01    2009             Dolphin Stadium   27   69
34138  amezaal01    2011                 Coors Field   20   33
50796  amezaal01    2011            Sun Life Stadium   20   44

In [54]:
# amezaa = up[up.playerID == 'amezaal01'].sort_values(['playerID', 'yearID'])

# park_clean = []
# for index, player_year in amezaa.groupby(['playerID', 'yearID']):
#     N = len(player_year)
    
#     if N == 1:
#         park_clean.append(player_year.park.values[0])
#         continue
        
#     max_G = player_year.G.max()
#     max_AB = player_year.AB.max()
    
#     if len(player_year[player_year.G == max_G]['park']) > 1:
#         for i in range(N):
#             park_clean.append(player_year[player_year.AB == max_AB]['park'].values[0])
#     else:
#         for i in range(N):
#             park_clean.append(player_year[player_year.G == max_G]['park'].values[0])
    
# amezaa['park_clean'] = park_clean

In [34]:
player_batting_appearances_wo_p = player_batting_appearances_wo_p.sort_values(['playerID', 'yearID'])

park_clean = []
for index, player_year in player_batting_appearances_wo_p.groupby(['playerID', 'yearID']):
    N = len(player_year)
    
    if N == 1:
        park_clean.append(player_year.park.values[0])
        continue
        
    max_G = player_year.G.max()
    max_AB = player_year.AB.max()
    
    if len(player_year[player_year.G == max_G]['park']) > 1:
        for i in range(N):
            park_clean.append(player_year[player_year.AB == max_AB]['park'].values[0])
    else:
        for i in range(N):
            park_clean.append(player_year[player_year.G == max_G]['park'].values[0])
    
player_batting_appearances_wo_p['park_clean'] = park_clean

In [35]:
player_batting_appearances_wo_p.loc[player_batting_appearances_wo_p.playerID.str.contains('tyner')]

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,deathCountry,deathState,deathCity,nameFirst,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID,yearID,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,park,G_all,GS,G_batting,G_defense,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,G_ph,G_pr,pos_main,playerAge,yearsInMLB,park_clean
4519,tynerja01,1977.0,4.0,23.0,USA,TX,Bedford,NaN,NaN,NaN,NaN,NaN,NaN,Jason,Tyner,Jason Renyt,170.0,73.0,L,L,2000-06-05,2008-05-12,tynej001,tynerja01,2000,NYN,NL,13,41,3,8,2,0,0,5.0,1.0,1.0,1,4.0,0.0,1.0,3.0,2.0,1.0,Shea Stadium,13.0,10.0,13.0,12.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,2.0,0.0,12.0,0.0,1.0,0.0,LF,23.0,1.0,Tropicana Field
103763,tynerja01,1977.0,4.0,23.0,USA,TX,Bedford,NaN,NaN,NaN,NaN,NaN,NaN,Jason,Tyner,Jason Renyt,170.0,73.0,L,L,2000-06-05,2008-05-12,tynej001,tynerja01,2000,TBA,AL,37,83,6,20,2,0,0,8.0,6.0,1.0,4,12.0,0.0,1.0,5.0,1.0,1.0,Tropicana Field,37.0,20.0,37.0,31.0,0.0,0.0,0.0,0.0,0.0,0.0,27.0,4.0,0.0,31.0,1.0,1.0,9.0,LF,23.0,1.0,Tropicana Field
5728,tynerja01,1977.0,4.0,23.0,USA,TX,Bedford,NaN,NaN,NaN,NaN,NaN,NaN,Jason,Tyner,Jason Renyt,170.0,73.0,L,L,2000-06-05,2008-05-12,tynej001,tynerja01,2001,TBA,AL,105,396,51,111,8,5,0,21.0,31.0,6.0,15,42.0,0.0,3.0,5.0,1.0,6.0,Tropicana Field,105.0,89.0,105.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0,57.0,47.0,3.0,100.0,0.0,5.0,2.0,LF,24.0,2.0,Tropicana Field
5774,tynerja01,1977.0,4.0,23.0,USA,TX,Bedford,NaN,NaN,NaN,NaN,NaN,NaN,Jason,Tyner,Jason Renyt,170.0,73.0,L,L,2000-06-05,2008-05-12,tynej001,tynerja01,2002,TBA,AL,44,168,17,36,2,1,0,9.0,7.0,1.0,7,19.0,0.0,1.0,3.0,1.0,1.0,Tropicana Field,44.0,40.0,44.0,42.0,0.0,0.0,0.0,0.0,0.0,0.0,41.0,1.0,0.0,42.0,1.0,2.0,0.0,LF,25.0,3.0,Tropicana Field
5826,tynerja01,1977.0,4.0,23.0,USA,TX,Bedford,NaN,NaN,NaN,NaN,NaN,NaN,Jason,Tyner,Jason Renyt,170.0,73.0,L,L,2000-06-05,2008-05-12,tynej001,tynerja01,2003,TBA,AL,46,90,12,25,7,0,0,6.0,2.0,1.0,10,12.0,0.0,0.0,2.0,0.0,1.0,Tropicana Field,46.0,18.0,46.0,32.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,2.0,23.0,32.0,4.0,14.0,6.0,RF,26.0,4.0,Tropicana Field
5866,tynerja01,1977.0,4.0,23.0,USA,TX,Bedford,NaN,NaN,NaN,NaN,NaN,NaN,Jason,Tyner,Jason Renyt,170.0,73.0,L,L,2000-06-05,2008-05-12,tynej001,tynerja01,2005,MIN,AL,18,56,8,18,1,1,0,5.0,2.0,0.0,4,4.0,0.0,0.0,0.0,0.0,2.0,Hubert H Humphrey Metrodome,18.0,15.0,18.0,15.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,2.0,2.0,15.0,3.0,0.0,1.0,LF,28.0,5.0,Hubert H Humphrey Metrodome
78744,tynerja01,1977.0,4.0,23.0,USA,TX,Bedford,NaN,NaN,NaN,NaN,NaN,NaN,Jason,Tyner,Jason Renyt,170.0,73.0,L,L,2000-06-05,2008-05-12,tynej001,tynerja01,2006,MIN,AL,62,218,29,68,5,2,0,18.0,4.0,2.0,11,18.0,2.0,1.0,0.0,2.0,5.0,Hubert H Humphrey Metrodome,62.0,58.0,62.0,50.0,0.0,0.0,0.0,0.0,0.0,0.0,33.0,18.0,1.0,50.0,12.0,1.0,1.0,LF,29.0,6.0,Hubert H Humphrey Metrodome
78785,tynerja01,1977.0,4.0,23.0,USA,TX,Bedford,NaN,NaN,NaN,NaN,NaN,NaN,Jason,Tyner,Jason Renyt,170.0,73.0,L,L,2000-06-05,2008-05-12,tynej001,tynerja01,2007,MIN,AL,114,304,42,87,14,2,1,22.0,8.0,3.0,16,26.0,0.0,5.0,2.0,1.0,12.0,Hubert H Humphrey Metrodome,114.0,70.0,114.0,77.0,0.0,0.0,0.0,0.0,0.0,0.0,47.0,17.0,18.0,77.0,26.0,15.0,16.0,LF,30.0,7.0,Hubert H Humphrey Metrodome
69125,tynerja01,1977.0,4.0,23.0,USA,TX,Bedford,NaN,NaN,NaN,NaN,NaN,NaN,Jason,Tyner,Jason Renyt,170.0,73.0,L,L,2000-06-05,2008-05-12,tynej001,tynerja01,2008,CLE,AL,1,2,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,1.0,0.0,0.0,0.0,Jacobs Field,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,LF,31.0,8.0,Jacobs Field

In [36]:
player_year_2000 = player_batting_appearances_wo_p.loc[player_batting_appearances_wo_p.debut.dt.year >= 2000].copy()

In [37]:
player_year_2000.loc[player_year_2000.pos_main == 'DH']

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,deathCountry,deathState,deathCity,nameFirst,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID,yearID,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,park,G_all,GS,G_batting,G_defense,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,G_ph,G_pr,pos_main,playerAge,yearsInMLB,park_clean
29636,alcanis01,1973.0,5.0,6.0,D.R.,Peravia,Bani,NaN,NaN,NaN,NaN,NaN,NaN,Israel,Alcantara,Israel,180.0,74.0,R,R,2000-06-25,2002-08-22,alcai001,alcanis01,2000,BOS,AL,21,45,9,13,1,0,4,7.0,0.0,0.0,3,7.0,0.0,0.0,0.0,0.0,0.0,Fenway Park II,21.0,9.0,21.0,11.0,0.0,0.0,5.0,0.0,0.0,0.0,1.0,0.0,7.0,7.0,8.0,8.0,0.0,DH,27.0,1.0,Fenway Park II
46389,alvarpe01,1987.0,2.0,6.0,D.R.,Distrito Nacional,Santo Domingo,NaN,NaN,NaN,NaN,NaN,NaN,Pedro,Alvarez,Pedro Manuel,250.0,75.0,L,R,2010-06-16,2018-06-15,alvap001,alvarpe01,2016,BAL,AL,109,337,43,84,20,0,22,49.0,1.0,0.0,37,97.0,1.0,0.0,0.0,2.0,6.0,Oriole Park at Camden Yards,109.0,91.0,109.0,12.0,0.0,0.0,0.0,0.0,12.0,0.0,0.0,0.0,0.0,0.0,87.0,14.0,0.0,DH,29.0,7.0,Oriole Park at Camden Yards
47934,alvarpe01,1987.0,2.0,6.0,D.R.,Distrito Nacional,Santo Domingo,NaN,NaN,NaN,NaN,NaN,NaN,Pedro,Alvarez,Pedro Manuel,250.0,75.0,L,R,2010-06-16,2018-06-15,alvap001,alvarpe01,2017,BAL,AL,14,32,4,10,1,0,1,4.0,0.0,0.0,2,10.0,0.0,0.0,0.0,0.0,0.0,Oriole Park at Camden Yards,14.0,7.0,14.0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,6.0,0.0,DH,30.0,8.0,Oriole Park at Camden Yards
47984,alvarpe01,1987.0,2.0,6.0,D.R.,Distrito Nacional,Santo Domingo,NaN,NaN,NaN,NaN,NaN,NaN,Pedro,Alvarez,Pedro Manuel,250.0,75.0,L,R,2010-06-16,2018-06-15,alvap001,alvarpe01,2018,BAL,AL,45,111,18,20,2,0,8,18.0,0.0,0.0,16,36.0,0.0,0.0,0.0,0.0,2.0,Oriole Park at Camden Yards,45.0,30.0,45.0,9.0,0.0,0.0,1.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,30.0,14.0,0.0,DH,31.0,9.0,Oriole Park at Camden Yards
8313,amarial01,1989.0,4.0,6.0,Venezuela,Anzoategui,Barcelona,NaN,NaN,NaN,NaN,NaN,NaN,Alexi,Amarista,Alexi Jose,160.0,66.0,L,R,2011-04-26,2017-10-01,amara001,amarial01,2012,LAA,AL,1,0,1,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,Angel Stadium of Anaheim,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,DH,23.0,2.0,Petco Park
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61236,youngde03,1985.0,9.0,14.0,USA,AL,Birmingham,NaN,NaN,NaN,NaN,NaN,NaN,Delmon,Young,Delmon Damarcus,240.0,75.0,R,R,2006-08-29,2015-06-29,yound003,youngde03,2013,TBA,AL,23,62,8,16,3,0,3,7.0,0.0,0.0,6,9.0,0.0,1.0,0.0,1.0,1.0,Tropicana Field,23.0,14.0,23.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,19.0,9.0,0.0,DH,28.0,8.0,Citizens Bank Park
95406,youngde03,1985.0,9.0,14.0,USA,AL,Birmingham,NaN,NaN,NaN,NaN,NaN,NaN,Delmon,Young,Delmon Damarcus,240.0,75.0,R,R,2006-08-29,2015-06-29,yound003,youngde03,2014,BAL,AL,83,242,27,73,11,1,7,30.0,2.0,0.0,10,51.0,0.0,3.0,0.0,0.0,6.0,Oriole Park at Camden Yards,83.0,56.0,83.0,28.0,0.0,0.0,0.0,0.0,0.0,0.0,27.0,0.0,2.0,28.0,39.0,23.0,0.0,DH,29.0,9.0,Oriole Park at Camden Yards
11806,younger03,1985.0,5.0,25.0,USA,NJ,New Brunswick,NaN,NaN,NaN,NaN,NaN,NaN,Eric,Young,Eric Orlando,195.0,70.0,B,R,2009-08-25,2018-09-30,youne003,younger03,2016,NYA,AL,6,1,2,0,0,0,0,0.0,1.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,Yankee Stadium III,6.0,0.0,6.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,2.0,4.0,0.0,4.0,DH,31.0,8.0,Yankee Stadium III
18054,youngmi02,1976.0,10.0,19.0,USA,CA,Covina,NaN,NaN,NaN,NaN,NaN,NaN,Michael,Young,Michael Brian,200.0,73.0,R,R,2000-09-29,2013-09-29,younm003,youngmi02,2011,TEX,AL,159,631,88,213,41,6,11,106.0,6.0,2.0,47,78.0,7.0,2.0,0.0,9.0,17.0,Rangers Ballpark in Arlington,159.0,159.0,159.0,91.0,0.0,0.0,36.0,14.0,40.0,1.0,0.0,0.0,0.0,0.0,69.0,0.0,0.0,DH,35.0,12.0,Rangers Ballpark in Arlington
18093,youngmi02,1976.0,10.0,19.0,USA,CA,Covina,NaN,NaN,NaN,NaN,NaN,NaN,Michael,Young,Michael Brian,200.0,73.0,R,R,2000-09-29,2013-09-29,younm003,youngmi02,2012,TEX,AL,156,611,79,169,27,3,8,67.0,2.0,2.0,33,70.0,3.0,1.0,0.0,6.0,26.0,Rangers Ballpark in Arlington,156.0,154.0,156.0,85.0,0.0,0.0,41.0,16.0,25.0,4.0,0.0,0.0,0.0,0.0,72.0,1.0,0.0,DH,36.0,13.0,Rangers Ballpark in Arlington

In [38]:
players_w_exp = player_year_2000.loc[player_year_2000.yearsInMLB >= 8, 'playerID'].unique()

In [39]:
np.random.seed(100)

n_players = len(players_w_exp)
random_pull = np.random.randint(0, n_players, 20)
random_players = players_w_exp[random_pull]

In [40]:
test_players = ['troutmi01', 'yelicch01', 'machama01', 'cruzne02'] + random_players.tolist()
test_data = player_year_2000.loc[player_year_2000.playerID.isin(test_players)].copy()

### Add playerid and yearid as indexes

In [41]:
test_data.columns

Index(['playerID', 'birthYear', 'birthMonth', 'birthDay', 'birthCountry',
       'birthState', 'birthCity', 'deathYear', 'deathMonth', 'deathDay',
       'deathCountry', 'deathState', 'deathCity', 'nameFirst', 'nameLast',
       'nameGiven', 'weight', 'height', 'bats', 'throws', 'debut', 'finalGame',
       'retroID', 'bbrefID', 'yearID', 'teamID', 'lgID', 'G', 'AB', 'R', 'H',
       '2B', '3B', 'HR', 'RBI', 'SB', 'CS', 'BB', 'SO', 'IBB', 'HBP', 'SH',
       'SF', 'GIDP', 'park', 'G_all', 'GS', 'G_batting', 'G_defense', 'G_p',
       'G_c', 'G_1b', 'G_2b', 'G_3b', 'G_ss', 'G_lf', 'G_cf', 'G_rf', 'G_of',
       'G_dh', 'G_ph', 'G_pr', 'pos_main', 'playerAge', 'yearsInMLB',
       'park_clean'],
      dtype='object')

In [42]:
test_data.shape

(241, 66)

In [43]:
test_data.head()

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,deathCountry,deathState,deathCity,nameFirst,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID,yearID,teamID,lgID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,park,G_all,GS,G_batting,G_defense,G_p,G_c,G_1b,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,G_ph,G_pr,pos_main,playerAge,yearsInMLB,park_clean
54518,avilaal01,1987.0,1.0,29.0,USA,FL,Hialeah,NaN,NaN,NaN,NaN,NaN,NaN,Alex,Avila,Alexander Thomas,210.0,71.0,L,R,2009-08-06,2018-09-29,avila001,avilaal01,2009,DET,AL,29,61,9,17,4,0,5,14.0,0.0,0.0,10,18.0,0.0,0.0,0.0,1.0,0.0,Comerica Park,29.0,17.0,29.0,25.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,C,22.0,1.0,Comerica Park
72149,avilaal01,1987.0,1.0,29.0,USA,FL,Hialeah,NaN,NaN,NaN,NaN,NaN,NaN,Alex,Avila,Alexander Thomas,210.0,71.0,L,R,2009-08-06,2018-09-29,avila001,avilaal01,2010,DET,AL,104,294,28,67,12,0,7,31.0,2.0,2.0,36,71.0,0.0,2.0,1.0,0.0,12.0,Comerica Park,104.0,84.0,104.0,98.0,0.0,98.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,9.0,0.0,C,23.0,2.0,Comerica Park
29012,avilaal01,1987.0,1.0,29.0,USA,FL,Hialeah,NaN,NaN,NaN,NaN,NaN,NaN,Alex,Avila,Alexander Thomas,210.0,71.0,L,R,2009-08-06,2018-09-29,avila001,avilaal01,2011,DET,AL,141,464,63,137,33,4,19,82.0,3.0,1.0,73,131.0,9.0,3.0,3.0,8.0,8.0,Comerica Park,141.0,135.0,141.0,134.0,0.0,133.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,4.0,4.0,0.0,C,24.0,3.0,Comerica Park
29057,avilaal01,1987.0,1.0,29.0,USA,FL,Hialeah,NaN,NaN,NaN,NaN,NaN,NaN,Alex,Avila,Alexander Thomas,210.0,71.0,L,R,2009-08-06,2018-09-29,avila001,avilaal01,2012,DET,AL,116,367,42,89,21,2,9,48.0,2.0,0.0,61,104.0,2.0,2.0,2.0,2.0,12.0,Comerica Park,116.0,107.0,116.0,113.0,0.0,113.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,C,25.0,4.0,Comerica Park
29105,avilaal01,1987.0,1.0,29.0,USA,FL,Hialeah,NaN,NaN,NaN,NaN,NaN,NaN,Alex,Avila,Alexander Thomas,210.0,71.0,L,R,2009-08-06,2018-09-29,avila001,avilaal01,2013,DET,AL,102,330,39,75,14,1,11,47.0,0.0,0.0,44,112.0,0.0,1.0,1.0,3.0,10.0,Comerica Park,102.0,96.0,102.0,98.0,0.0,98.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,C,26.0,5.0,Comerica Park

In [44]:
test_data['full_name'] = test_data['nameFirst'] + ' ' + test_data['nameLast']

In [45]:
test_data.groupby(['full_name', 'yearID']).count().sort_values('playerID', ascending=False)

                           playerID  birthYear  birthMonth  birthDay  \
full_name          yearID
Welington Castillo 2015           3          3           3         3
Juan Uribe         2015           3          3           3         3
Nick Swisher       2015           2          2           2         2
Rajai Davis        2017           2          2           2         2
Manny Machado      2018           2          2           2         2
...                             ...        ...         ...       ...
Freddy Sanchez     2003           1          1           1         1
                   2004           1          1           1         1
                   2005           1          1           1         1
                   2006           1          1           1         1
Welington Castillo 2018           1          1           1         1

                           birthCountry  birthState  birthCity  deathYear  \
full_name          yearID
Welington Castillo 2015               3           3          3          0
Juan Uribe         2015               3           0          3          0
Nick Swisher       2015               2           2          2          0
Rajai Davis        2017               2           2          2          0
Manny Machado      2018               2           2          2          0
...                                 ...         ...        ...        ...
Freddy Sanchez     2003               1           1          1          0
                   2004               1           1          1          0
                   2005               1           1          1          0
                   2006               1           1          1          0
Welington Castillo 2018               1           1          1          0

                           deathMonth  deathDay  deathCountry  deathState  \
full_name          yearID
Welington Castillo 2015             0         0             0           0
Juan Uribe         2015             0         0             0           0
Nick Swisher       2015             0         0             0           0
Rajai Davis        2017             0         0             0           0
Manny Machado      2018             0         0             0           0
...                               ...       ...           ...         ...
Freddy Sanchez     2003             0         0             0           0
                   2004             0         0             0           0
                   2005             0         0             0           0
                   2006             0         0             0           0
Welington Castillo 2018             0         0             0           0

                           deathCity  nameFirst  nameLast  nameGiven  weight  \
full_name          yearID
Welington Castillo 2015            0          3         3          3       3
Juan Uribe         2015            0          3         3          3       3
Nick Swisher       2015            0          2         2          2       2
Rajai Davis        2017            0          2         2          2       2
Manny Machado      2018            0          2         2          2       2
...                              ...        ...       ...        ...     ...
Freddy Sanchez     2003            0          1         1          1       1
                   2004            0          1         1          1       1
                   2005            0          1         1          1       1
                   2006            0          1         1          1       1
Welington Castillo 2018            0          1         1          1       1

                           height  bats  throws  debut  finalGame  retroID  \
full_name          yearID
Welington Castillo 2015         3     3       3      3          3        3
Juan Uribe         2015         3     3       3      3          3        3
Nick Swisher       2015         2     2       2      2          2        2
Rajai Davis        2017         2     2       2      2          2        2
Manny Machado      2018         2     2       2      2          2        2
...                           ...   ...     ...    ...        ...      ...
Freddy Sanchez     2003         1     1       1      1          1        1
                   2004         1     1       1      1          1        1
                   2005         1     1       1      1          1        1
                   2006         1     1       1      1          1        1
Welington Castillo 2018         1     1       1      1          1        1

                           bbrefID  teamID  lgID  G  AB  R  H  2B  3B  HR  \
full_name          yearID
Welington Castillo 2015          3       3     3  3   3  3  3   3   3   3
Juan Uribe         2015          3       3     3  3   3  3  3   3   3   3
Nick Swisher       2015          2       2     2  2   2  2  2   2   2   2
Rajai Davis        2017          2       2     2  2   2  2  2   2   2   2
Manny Machado      2018          2       2     2  2   2  2  2   2   2   2
...                            ...     ...   ... ..  .. .. ..  ..  ..  ..
Freddy Sanchez     2003          1       1     1  1   1  1  1   1   1   1
                   2004          1       1     1  1   1  1  1   1   1   1
                   2005          1       1     1  1   1  1  1   1   1   1
                   2006          1       1     1  1   1  1  1   1   1   1
Welington Castillo 2018          1       1     1  1   1  1  1   1   1   1

                           RBI  SB  CS  BB  SO  IBB  HBP  SH  SF  GIDP  park  \
full_name          yearID
Welington Castillo 2015      3   3   3   3   3    3    3   3   3     3     3
Juan Uribe         2015      3   3   3   3   3    3    3   3   3     3     3
Nick Swisher       2015      2   2   2   2   2    2    2   2   2     2     2
Rajai Davis        2017      2   2   2   2   2    2    2   2   2     2     2
Manny Machado      2018      2   2   2   2   2    2    2   2   2     2     2
...                        ...  ..  ..  ..  ..  ...  ...  ..  ..   ...   ...
Freddy Sanchez     2003      1   1   1   1   1    1    1   1   1     1     1
                   2004      1   1   1   1   1    1    1   1   1     1     1
                   2005      1   1   1   1   1    1    1   1   1     1     1
                   2006      1   1   1   1   1    1    1   1   1     1     1
Welington Castillo 2018      1   1   1   1   1    1    1   1   1     1     1

                           G_all  GS  G_batting  G_defense  G_p  G_c  G_1b  \
full_name          yearID
Welington Castillo 2015        3   3          3          3    3    3     3
Juan Uribe         2015        3   3          3          3    3    3     3
Nick Swisher       2015        2   2          2          2    2    2     2
Rajai Davis        2017        2   2          2          2    2    2     2
Manny Machado      2018        2   2          2          2    2    2     2
...                          ...  ..        ...        ...  ...  ...   ...
Freddy Sanchez     2003        1   1          1          1    1    1     1
                   2004        1   1          1          1    1    1     1
                   2005        1   1          1          1    1    1     1
                   2006        1   1          1          1    1    1     1
Welington Castillo 2018        1   1          1          1    1    1     1

                           G_2b  G_3b  G_ss  G_lf  G_cf  G_rf  G_of  G_dh  \
full_name          yearID
Welington Castillo 2015       3     3     3     3     3     3     3     3
Juan Uribe         2015       3     3     3     3     3     3     3     3
Nick Swisher       2015       2     2     2     2     2     2     2     2
Rajai Davis        2017       2     2     2     2     2     2     2     2
Manny Machado      2018       2     2     2     2     2     2     2     2
...                         ...   ...   ...   ...   ...   ...   ...   ...
Freddy Sanchez     2003       1     1     1     1     1     1     1     1
                   2004       1     1     1     1     1     1     1     1
                   2005       1     1     1     1     1     1     1     1
                   2006       1     1     1     1     1     1     1     1
Welington Castillo 2018       1     1     1     1     1     1     1     1

                           G_ph  G_pr  pos_main  playerAge  yearsInMLB  \
full_name          yearID
Welington Castillo 2015       3     3         3          3           3
Juan Uribe         2015       3     3         3          3           3
Nick Swisher       2015       2     2         2          2           2
Rajai Davis        2017       2     2         2          2           2
Manny Machado      2018       2     2         2          2           2
...                         ...   ...       ...        ...         ...
Freddy Sanchez     2003       1     1         1          1           1
                   2004       1     1         1          1           1
                   2005       1     1         1          1           1
                   2006       1     1         1          1           1
Welington Castillo 2018       1     1         1          1           1

                           park_clean
full_name          yearID
Welington Castillo 2015             3
Juan Uribe         2015             3
Nick Swisher       2015             2
Rajai Davis        2017             2
Manny Machado      2018             2
...                               ...
Freddy Sanchez     2003             1
                   2004             1
                   2005             1
                   2006             1
Welington Castillo 2018             1

[222 rows x 65 columns]

Maybe I want to drop duplicates. Maybe we want to keep them....they're duplicated because they were traded or something during the season

In [46]:
# test_data.set_index(['playerID', 'yearID'], inplace=True)

In [47]:
# test_data

In [48]:
keep_columns = ['playerID', 'yearID', 'HR', 'AB', 'playerAge', 'park_clean', 'pos_main', 'yearsInMLB', 'full_name']
test_data_copy = test_data.loc[:, keep_columns].copy()
test_data_copy.playerAge = test_data_copy.playerAge.astype(int)
test_data_copy.yearsInMLB = test_data_copy.yearsInMLB.astype(int)

In [49]:
new_agg = test_data_copy.groupby(['playerID', 'yearID'], as_index=False).agg({'HR': 'sum', 'AB': 'sum', 'playerAge': 'min', 'park_clean': 'min', 'pos_main': 'min', 'yearsInMLB': 'min', 'full_name': 'min'})

In [50]:
new_agg.groupby(['playerID', 'yearID'])['playerAge'].count().sort_values(ascending=False)

playerID   yearID
yelicch01  2018      1
davisra01  2017      1
machama01  2012      1
hamiljo03  2015      1
           2014      1
                    ..
schumsk01  2005      1
sanchfr01  2011      1
           2010      1
           2009      1
avilaal01  2009      1
Name: playerAge, Length: 222, dtype: int64

In [51]:
new_agg.sort_values(['full_name', 'yearID'])

,playerID,yearID,HR,AB,playerAge,park_clean,pos_main,yearsInMLB,full_name
95,milesaa01,2003,0,12,27,U.S. Cellular Field,2B,1,Aaron Miles
96,milesaa01,2004,6,522,28,Coors Field,2B,2,Aaron Miles
97,milesaa01,2005,2,324,29,Coors Field,2B,3,Aaron Miles
98,milesaa01,2006,2,426,30,Busch Stadium III,2B,4,Aaron Miles
99,milesaa01,2007,2,414,31,Busch Stadium III,2B,5,Aaron Miles
...,...,...,...,...,...,...,...,...,...
30,castiwe01,2014,13,380,27,Wrigley Field,C,5,Welington Castillo
31,castiwe01,2015,19,342,28,Chase Field,C,6,Welington Castillo
32,castiwe01,2016,14,416,29,Chase Field,C,7,Welington Castillo
33,castiwe01,2017,20,341,30,Oriole Park at Camden Yards,C,8,Welington Castillo
34,castiwe01,2018,6,170,31,U.S. Cellular Field,C,9,Welington Castillo

In [52]:
new_agg.to_csv('../data/processed/test_data', index=False)

In [53]:
new_agg.head()

,playerID,yearID,HR,AB,playerAge,park_clean,pos_main,yearsInMLB,full_name
0,avilaal01,2009,5,61,22,Comerica Park,C,1,Alex Avila
1,avilaal01,2010,7,294,23,Comerica Park,C,2,Alex Avila
2,avilaal01,2011,19,464,24,Comerica Park,C,3,Alex Avila
3,avilaal01,2012,9,367,25,Comerica Park,C,4,Alex Avila
4,avilaal01,2013,11,330,26,Comerica Park,C,5,Alex Avila